<span>Total Agents:<span id="AgentsTotal"/></span>
<br><span>Agents Loaded:<span id="AgentsLoaded"/></span>
<br><span>Agents Busy:<span id="AgentsBusy"/></span>
<div>
	<h2>Active Web UIs <button id="btnRefresh" type="button">Refresh</button></h2>
	<table id="tblWebUIs" style="text-align: left; width: 100%;" border="1" cellpadding="2"
	cellspacing="2">
		<thead>
			<tr>
				<th style="vertical-align: top; width: 10%;">Status</th>
				<th style="vertical-align: top; width: 90%;">Id</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
<div>
	<h2>Agents</h2>
	<table id="tblAgents" style="text-align: left; width: 100%;" border="1" cellpadding="2"
	cellspacing="2">
		<thead>
			<tr>
				<th style="vertical-align: top; width: 5%;">Id</th>
				<th style="vertical-align: top; width: 10%;">Status</th>
				<th style="vertical-align: top; width: 5%;">Busy</th>
				<th style="vertical-align: top; width: 5%;">Dynamic Scenarios</th>
				<th style="vertical-align: top; width: 20%;">Scenarios</th>
				<th style="vertical-align: top; width: 20%;">Running</th>
				<th style="vertical-align: top; width: 20%;">Results</th>
				<th style="vertical-align: top; width: 10%;">Actions</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
<div>
	<h2>Scenarios</h2>
	<table id="tblScenarios" style="text-align: left; width: 100%;" border="1" cellpadding="2"
	cellspacing="2">
		<thead>
			<tr>
				<th style="vertical-align: top; width: 5%;">Id</th>
				<th style="vertical-align: top; width: 20%;">Name</th>
				<th style="vertical-align: top; width: 5%;">Agents</th>
				<th style="vertical-align: top; width: 20%;">Description</th>
				<th style="vertical-align: top; width: 15%;">Parameters</th>
				<th style="vertical-align: top; width: 5%;">Actions</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
<div>
	<h2>Test Plans</h2>
	<table  id="tblTestPlans" style="text-align: left; width: 100%;" border="1" cellpadding="2">
		<thead>
			<tr>
			<td style="vertical-align: top; width: 136px;">Status</td>
			<td style="vertical-align: top; width: 66px;">Id</td>
			<td style="vertical-align: top; width: 171px;">Scenarios</td>
			<td style="vertical-align: top; width: 99px;">Max Agents</td>
			<td style="vertical-align: top; width: 539px;">Actions</td>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	<button onclick="newTestPlan()">Create New Test Plan</button>

</div>
<div>
	<h2>Execution of Test Plans</h2>
	<table  id="tblTestPlanExecutions" style="text-align: left; width: 100%;" border="1" cellpadding="2">
		<thead>
			<tr>
			<td style="vertical-align: top; width: 66px;">Id</td>
			<td style="vertical-align: top; width: 136px;">Status</td>
			<td style="vertical-align: top; width: 171px;">Results</td>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	<button onclick="newTestPlan()">Create New Test Plan</button>

</div>

